<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <title>Outrun</title>
</head>

<body>
  <div class="navbar-fixed" id="top">
    <nav>
      <div class="nav-wrapper grey darken-4">
        <ul class="left hide-on-med-and-down">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#beers">Beers</a>
          </li>
        </ul>
        <img src=" " class="brand-logo myLogo">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">

          <li>
            <a href="#location">Location</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <ul class="sidenav" id="mobile-demo">
    <li>
      <a href="#about">About</a>
    </li>
    <li>
      <a href="#beer">Beer</a>
    </li>
    <li>
      <a href="#location">Location</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>
  {{{body}}}


  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="center-align">
          <ul>
            <li class="col s3">
              <a class="grey-text text-lighten-4" href="#about">About</a>
            </li>
            <li class="col s3">
              <a  class="grey-text text-lighten-4"href="#beers">Beers</a>
            </li>
            <li class="col s3">
              <a class="grey-text text-lighten-4" href="#location">Location</a>
            </li>
            <li class="col s3">
              <a class="grey-text text-lighten-4" href="#contact">Contact</a>
            </li>
        </div>
      </div>
    </div>
    <div class="footer-copyright grey darken-4">
      <div class="container">
        <div class="col s12 center-align">
          <a class="grey-text text-lighten-4" href="#top">OutRun Brewing</a>
        </div>
      </div>


    </div>
  </footer>
  <script src="/js/logic.js"></script>
</body>

</html>